 /* SASS FORMULARIO */ 
 form{
     fieldset{
        legend{
            color: $ColorPrincipal;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
        }   
        .bigicon {
            color: $ColorPrincipal;
        }
        button{
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
        }

    }
 }